* {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
  }

#bloomberg-internship > * {
    font-family: 'Lucida Grande', 'Lucida Sans', Verdana, Helvetica, Arial, sans-serif;
}

.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


/*--- htmlresume.html ---*/

.thick-line {
  height:1px;
  border:none;
  color:#333;
  background-color:#333;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

/*--- htmlresume.html ---*/
/*-----------------------*/

/*--- FontAwesome Enhancement ---*/
* > .fa.fa-hover-show,
*:hover > .fa.fa-hover-hidden {
    display: none;
}
*:hover > .fa.fa-hover-show {
    display: inline-block;
}

#message_input,
.edit {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 20px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	color: inherit;
	padding: 6px;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

#message_input {
	padding: 16px 16px 16px 16px;
    height: 60px;
	border: 5px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
	background: rgba(0, 0, 0, 0.003);
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
    max-width: 90%;
}

#message_submit {
    margin-left: 10px;
}

#sidebar {
    float:left;
    width:24%;
    display: inline-block;
}

#separator {
    width: 1px;
    background-color: black;
    float: left;
    display: inline-block;
}

#main {
    float:right;
    width:75%;
    padding-left: 30px;
    display: inline-block;
    border-left: 1px solid rgba(0, 0, 0, .30);
}
#message_container {
    width: 100%;
    min-height: 100%;
    position: relative;
}
::-webkit-scrollbar {
    display: none;
}
#message_list {
    height: 81vh; /* Changed this height */
    padding-bottom:60px;
    overflow: scroll;
}

#message_bubble {
    background-color: #0084FF;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    margin-bottom: 5px;
    color: white;
    font-weight: 200;
}

.card {
    max-width: 350px;
    max-height: 350px;
    padding: 10px 10px 10px 10px;
    display: block;
    border-radius: 15px;
    border: 1px solid #0084FF;
    background-color: white;
    margin-bottom: 5px;
}

.card.has-images .top-div {
    max-width: 100%;
    max-height: 55%;
    zoom: 0.25;
    overflow: hidden;
}

.card.has-images .bottom-div {
    max-width: 100%;
    max-height: 45%;
    overflow: hidden;
}

.card.has-media .top-div {
    max-width: 100%;
    overflow: hidden;
    max-height: 55%;
    zoom: 0.70;
    /*-moz-transform: scale(0.65);
    -moz-transform-origin: 0 0;*/
}

.card.has-media .bottom-div {
    max-width: 100%;
    max-height: 45%;
    overflow: hidden;
    a {
        text-decoration: none;
        background-color: none;
    }
}

.card .header {
	display: block;
	max-height: 50px;
	width: 100%;
	overflow: hidden;
	margin-bottom: 5px;
}

.card .see-more {
   text-decoration: none;
   background-color: none;
}

.favicon {
    padding-right: 10px;
}
