* {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
  }

#bloomberg-internship > * {
    font-family: 'Lucida Grande', 'Lucida Sans', Verdana, Helvetica, Arial, sans-serif;
}

.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

#social-media-div > table {
    margin-left:auto;
    margin-right:auto;
    width:100%;
    table-layout: fixed;
}

#social-media-div > table td {
    text-align: center;
}

#social-media-text td {
    height: 35px;
}

#social-media-text p {
    display: none;
}

#resume-div > table {
    margin-left:auto;
    margin-right:auto;
    width:100%;
    table-layout: fixed;
}

/*--- htmlresume.html ---*/

.thick-line {
  height:1px;
  border:none;
  color:#333;
  background-color:#333;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

/*--- htmlresume.html ---*/
/*-----------------------*/

/*--- FontAwesome Enhancement ---*/
* > .fa.fa-hover-show,
*:hover > .fa.fa-hover-hidden {
    display: none;
}
*:hover > .fa.fa-hover-show {
    display: inline-block;
}

#message_input,
.edit {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 20px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	color: inherit;
	padding: 6px;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

#message_input {
	padding: 16px 16px 16px 16px;
	border: 7px solid rgba(0, 0, 0, 0.2)
	background: rgba(0, 0, 0, 0.003);
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

#message_submit {
    margin-left: 15px;
}

#sidebar {
    float:left;
    width:24%;
    display: inline-block;
}

#separator {
    width: 1px;
    background-color: black;
    float: left;
    display: inline-block;
}

#main {
    float:right;
    width:75%;
    padding-left: 50px;
    display: inline-block;
}
#message_container {
    width: 100%;
    height: inherit;
    display: inline-block;

}

.card {
	max-width: 800px;
	max-height: 500px;
	margin-top: 30px;
	margin-bottom: 30px;
	display: block;
	border-left: 8px solid #CCC;
	overflow: hidden;
	padding: 15px 25px 25px 20px;
	/*@include box-shadow( #ccc 1px 2px 7px 0 );
	@include border-top-right-radius( 5px );
	@include border-bottom-right-radius( 8px );*/
}

.card.has-images .left-col {
	width: 33%;
	float: left;
    margin-right: 20px;
}

.card.has-media .left-col {
	width: 66%;
	float: left;
}

.card .left-col {
	overflow: hidden;
	height: 100%;
}

.card.has-images .left-col img {
	max-width: 100%;
	height: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    padding: 10px;

}

.card.has-images .right-col {
	width: 60%;
	margin-left: 20px;
}

.card.has-media .right-col {
	width: 30%;
}

.card .right-col {
	overflow: hidden;

	.title {
		margin-top: 0px;
	}
}

.card .header {
	display: block;
	height: 30px;
	width: 100%;
	overflow: hidden;
	margin-bottom: 5px;

	.favicon {
		height: 100%;
		width: auto;
	    width: auto\9; /* ie8 */
	    float: left;
	    padding: 3px;
	    margin-right: 10px;
	}

	.website-name {
		p {
			line-height: 30px;
			font-weight: bold;
		}
	}
}
